<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SC</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>Servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>Servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStudentServlet</display-name>
    <servlet-name>ShowStudentServlet</servlet-name>
    <servlet-class>Servlet.ShowStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentServlet</servlet-name>
    <url-pattern>/ShowStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>Servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateActionServlet</display-name>
    <servlet-name>StudentUpdateActionServlet</servlet-name>
    <servlet-class>Servlet.StudentUpdateActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateActionServlet</servlet-name>
    <url-pattern>/StudentUpdateActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateServlet</display-name>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <servlet-class>Servlet.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <url-pattern>/StudentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>Servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSearchServlet</display-name>
    <servlet-name>StudentSearchServlet</servlet-name>
    <servlet-class>Servlet.StudentSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSearchServlet</servlet-name>
    <url-pattern>/StudentSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCSelect</display-name>
    <servlet-name>SCSelect</servlet-name>
    <servlet-class>Servlet.SCSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCSelect</servlet-name>
    <url-pattern>/SCSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>Servlet.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourseServlet</display-name>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>Servlet.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/DeleteCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoursePageServlet</display-name>
    <servlet-name>CoursePageServlet</servlet-name>
    <servlet-class>Servlet.CoursePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoursePageServlet</servlet-name>
    <url-pattern>/CoursePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseUpdateActionServlet</display-name>
    <servlet-name>CourseUpdateActionServlet</servlet-name>
    <servlet-class>Servlet.CourseUpdateActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseUpdateActionServlet</servlet-name>
    <url-pattern>/CourseUpdateActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseUpdateServlet</display-name>
    <servlet-name>CourseUpdateServlet</servlet-name>
    <servlet-class>Servlet.CourseUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseUpdateServlet</servlet-name>
    <url-pattern>/CourseUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>